* {
  box-sizing: border-box;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content-dark {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.Not-found-image {
  width: 157px;
  height: 173px;
  flex-shrink: 0;
  border-radius: 10px;
}

.head {
  color: #262626;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.headDark {
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.papa {
  width: 312px;
  color: #989898;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.image-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.h-button {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #4094ef;
  border: none;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 768px) {
  .Not-found-image {
    display: flex;
    width: 269px;
    height: 297px;
    padding: 0px 0.003px 0px 0.004px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .head {
    color: #262626;

    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 150% */
  }
  .papa {
    color: #989898;
    width: 450px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }
}
