* {
  box-sizing: border-box;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainerDark {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}

.Sub-Container {
  display: flex;
  flex-direction: row;
}

.image-container {
  display: none;
}

.login_image {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  background: #fefeff;
  box-shadow: 0px 8px 40px 0px rgba(7, 7, 7, 0.08);
}

.form-container-Dark {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  background: #0f0f0f;

  box-shadow: 0px 0px 16px 0px #d7dfe9;
}

.icon-container {
  text-align: center;
}

.icon {
  width: 78px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
}

.heading-for-icon {
  color: #262626;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.heading-for-icon-dark {
  color: white;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.forms {
  display: flex;
  flex-direction: column;
}

.label {
  color: #262626;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  margin-top: 10px;
}

.input {
  width: 312px;
  height: 50px;
  flex-shrink: 0;
  border: 0px;
  outline: none;
  border-radius: 5px;
  background: #eee;
  margin-top: 10px;
  color: black;
  padding: 10px;
}

.login-button {
  display: flex;
  width: 312px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #ffffff;
  border-radius: 8px;
  background: #4094ef;
  border: 0px;
  margin-top: 20px;
  cursor: pointer;
}

.error_msg {
  color: var(--light-red-500, #ef4444);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.labelDark {
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form-container {
    width: 410px;
    height: 400px;
    flex-shrink: 0;
  }
  .image-container {
    display: block;
    width: 473.181px;
    height: 400px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .input {
    width: 360px;
    height: 40px;
  }
  .label {
    font-size: 14px;
    font-weight: 500;
  }
  .login-button {
    width: 360px;
    height: 40px;
  }
}
